:root {
  --select-color: var(--base-color-black);
  --select-header-padding-y: calc(var(--base-padding-y) - 0.6rem);
  --select-header-padding-x: var(--base-padding-x);
  --select-border-radius: calc(var(--base-border-radius) / 2);
  --select-border-color: var(--base-color-gray-9);
  --select-header-background-color: var(--base-color-gray-10);
  --select-body-padding-x: calc(var(--base-padding-x) / 2);
  --select-body-padding-y: calc(var(--base-padding-y) / 2);
  --selcet-body-background-color: var(--base-color-gray-6);

  --select-default-color: var(--base-color-gray-4);

  --select-item-color: var(--base-color-gray-2);
  --select-item-hover-color: var(--base-color-gray-7);

  --select-shadow-color: #0700470e;
}
