.contacts {
  @include flex-column;
  gap: calc(var(--base-gap) * 1.5);

  @include xl-d {
    flex-direction: row;
    gap: var(--base-gap);
  }

  @include md-d {
    flex-direction: column;
  }

  &__phone {
    font-size: 2.4rem;
    line-height: 3.12rem;
  }

  &__block-wrapper:not(:first-child) {
    margin-top: calc(var(--base-margin-y) * 3);

    @include xl-d {
      margin-top: 0;
      margin-left: calc(var(--base-margin-x) * 2);
    }

    @include lg-d {
      margin-left: calc(var(--base-margin-x) * 4.5);
    }

    @include md-d {
      margin-left: 0;
      margin-top: calc(var(--base-margin-y) * 2);
    }
  }

  &__list {
    @include xl-d {
      @include flex-row;
    }

    @include lg-d {
      width: 100%;
    }

    @include md-d {
      flex-direction: column;
      width: fit-content;
    }
  }

  &__label {
    margin-top: var(--base-margin-y);
    font-size: 1.3rem;
    color: var(--base-color-gray-5);
    line-height: 1.69rem;
  }

  &__social-list {
    @include flex-row;
    gap: var(--base-gap);

    @include lg-d {
      margin-left: auto;
    }

    @include md-d {
      margin-left: 0;
    }
  }

  &__social-link {
    width: 4.6rem;
    height: 4.6rem;
    display: block;
    @include flex-center;
    background-color: var(--base-color-gray-8);
    border-radius: 0.9rem;
    transition: transform var(--base-anim-fn) var(--base-anim-time),
      background-color var(--base-anim-fn) var(--base-anim-time);

    &:hover {
      transform: scale(1.1);
      background-color: var(--base-color-gray-7);
    }
  }

  &__social-img {
    object-position: center;
    pointer-events: none;
    width: 3rem;
    height: 3rem;
  }
}
