.form-car-filter {
  @include flex-row;
  justify-content: space-between;

  @include sm-d {
    flex-wrap: wrap;
  }

  &__label {
    font-weight: 500;

    &--car {
      flex-grow: 1;
      margin-right: calc(var(--base-margin-x) * 3);

      @include lg-d {
        margin-right: calc(var(--base-margin-x) * 2.5);
        min-width: 11.8rem;
      }

      @include sm-d {
        width: 100%;
        max-width: calc(50% - 8px);
        margin-right: 0;
        min-width: auto;
      }
    }

    &--year {
      max-width: 21.9rem;
      margin-right: calc(var(--base-margin-x) * 2);
      min-width: 21.9rem;

      @include lg-d {
        width: 15.3rem;
        margin-right: calc(var(--base-margin-x) * 2.5);
        min-width: auto;
      }

      @include sm-d {
        width: 100%;
        max-width: calc(50% - 8px);
        margin-right: 0;
      }
    }
  }

  &__inputs {
    @include flex-row;
    align-items: center;
  }

  &__separator {
    width: 1.8rem !important;
    height: 0.2rem !important;
    margin: var(--base-margin-y) calc(var(--base-margin-x) * 2 + 0.2rem) 0 calc(var(--base-margin-x) * 2 + 0.2rem) !important;

    @include lg-d {
      margin: var(--base-margin-y) calc(var(--base-margin-x) * 2 - 1px) 0 calc(var(--base-margin-x) * 2 - 1px) !important;
    }

    @include sm-d {
      margin: var(--base-margin-y) calc(var(--base-margin-x) / 2) 0 calc(var(--base-margin-x) / 2) !important;
      width: 0.7rem;
    }
  }

  &__fieldset {
    @include sm-d {
      width: 100%;
      margin-top: calc(var(--base-margin-y) * 2);
    }
  }

  &__input {
    margin-top: var(--base-margin-y);
    background-color: var(--base-color-gray-10);
    border-radius: calc(var(--base-border-radius) / 2);
    border: 1px solid var(--base-color-gray-9);
    font-size: 1.3rem;
    line-height: 1.8rem;
    padding: calc(var(--base-padding-y) - 0.6rem) var(--base-padding-x);
    transition: border-color var(--base-anim-fn) var(--base-anim-time);
    width: 17rem;

    @include lg-d {
      width: 100% !important;
      max-width: 14.7rem;
    }

    @include sm-d {
      width: 100%;
      max-width: calc(50% - 8px);
      margin-right: 0;
    }

    &:focus {
      border-color: var(--base-color-gray-5);
    }
  }

  &__select {
    margin-top: var(--base-margin-y);
  }
}
