.header-top {
  @include flex-row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--base-color-gray-7);
  padding: 0 var(--padding-side);

  @include xl-d {
    padding: 0 var(--base-padding-x);
  }

  &__nav {
    @include lg-d {
      width: 100%;
    }
  }

  &__nav-list {
    @include flex-row;
    align-items: center;
  }

  &__separator {
    margin: 0 0.8rem;
  }

  &__nav-link {
    display: block;
    color: var(--base-color-gray-4);
    line-height: 2rem;
    padding: var(--base-padding-y) calc(var(--base-padding-x) / 2);
    transition: color var(--base-anim-fn) var(--base-anim-time);
    position: relative;

    &:hover {
      color: var(--base-color-gray-1);
    }
  }

  &__nav-item:first-child &__nav-link {
    padding-left: 0;
  }

  &__nav-item {
    @include lg-d {
      flex-grow: 1;
      text-align: center;
      max-width: 50%;
    }

    &:first-child {
      @include lg-d {
        border-right: 1px solid var(--base-color-gray-7);
      }
    }

    &:nth-child(2) ~ * {
      @include lg-d {
        display: none;
      }
    }
  }

  &__nav-item &__nav-link--active {
    color: var(--base-color-gray-1);
    font-weight: 500;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      height: 0.2rem;
      background-color: var(--color-primary);
      left: 0;
      right: 0.8rem;
      bottom: -1px;

      @include lg-d {
        display: none;
      }
    }
  }

  &__info {
    @include flex-row;
    gap: var(--base-gap);
    color: var(--base-color-black-1);
    align-items: center;

    @include lg-d {
      display: none;
    }
  }

  &__city {
    line-height: 2rem;
    position: relative;
    padding-left: calc(var(--base-padding-x) * 1.5);
    cursor: pointer;
    transition: color var(--base-anim-fn) var(--base-anim-time);

    &:hover {
      color: var(--color-primary);
    }
  }

  &__city-icon {
    left: 0;
    pointer-events: none;
    position: absolute;
  }

  &__lan {
    line-height: 2rem;
  }
}
