:root {
  --select-color: var(--base-color-black);
  --select-header-padding-y: calc(var(--base-padding-y) - 0.6rem);
  --select-header-padding-x: var(--base-padding-x);
  --select-border-radius: calc(var(--base-border-radius) / 2);
  --select-border-color: var(--base-color-gray-9);
  --select-header-background-color: var(--base-color-gray-10);
  --select-body-padding-x: calc(var(--base-padding-x) / 2);
  --select-body-padding-y: calc(var(--base-padding-y) / 2);
  --selcet-body-background-color: var(--base-color-gray-6);

  --select-default-color: var(--base-color-gray-4);

  --select-item-color: var(--base-color-gray-2);
  --select-item-hover-color: var(--base-color-gray-7);

  --select-shadow-color: #0700470e;
}

.select {
  position: relative;

  &__list {
    outline: none;
    padding: var(--select-header-padding-y) calc(var(--select-header-padding-x) * 2.5) var(--select-header-padding-y)
      var(--select-header-padding-x);
    border-radius: var(--select-border-radius);
    border: 1px solid var(--select-border-color);
    background: var(--select-header-background-color);
    appearance: none;
    color: var(--select-color);
    width: 100%;
    min-height: 3.5rem;
    line-height: 1.8rem;

    &:invalid {
      color: var(--select-default-color);
      font-size: 1.3rem;
    }
  }

  &::after {
    content: url("../img/chevron-black.svg");
    position: absolute;
    top: 1rem;
    width: 2.4rem;
    height: 2.4rem;
    right: 1.6rem;
    transition: transform var(--base-anim-fn) var(--base-anim-time);
    transform: rotate(-180deg);
  }

  &--show::after {
    transform: rotate(0);
  }

  &__custom-list::-webkit-scrollbar {
    width: 0.5rem;
    background-color: var(--base-color-gray-8);
    border-radius: 0.5rem;
    height: 100%;
  }

  &__custom-list::-webkit-scrollbar-thumb {
    background: var(--base-color-gray-5);
    border-radius: 0.5rem;
  }

  &__custom-list {
    background-color: var(--selcet-body-background-color);
    color: var(--select-color);
    padding: var(--select-body-padding-y) var(--select-body-padding-x);
    border-radius: 0 0 var(--select-border-radius) var(--select-border-radius);
    border: 1px solid var(--select-border-color);
    position: absolute;
    top: 4.5rem;
    left: 0;
    right: 0;
    max-height: 20rem;
    overflow-y: auto;
    box-shadow: 0 5px 25px var(--select-shadow-color);
    z-index: 55;

    @supports not selector(::-webkit-scrollbar) {
      scrollbar-width: thin;
      scrollbar-color: var(--base-color-gray-5) var(--base-color-gray-8);
    }
  }

  &__custom-option {
    cursor: pointer;
    padding: var(--select-body-padding-y) var(--select-body-padding-x);
    transition: background-color var(--base-anim-fn) var(--base-anim-time);
    border-radius: var(--select-border-radius);
    color: var(--select-item-color);

    &:hover {
      background-color: var(--select-item-hover-color);
    }
  }
}
