.catalog {
  &__container {
    margin: 0 auto;
  }

  &__header {
    @include flex-row;
    justify-content: space-between;
    margin-top: calc(var(--base-margin-y) * 5);
    margin-bottom: calc(var(--base-margin-y) * 3);

    @include sm-d {
      margin-top: calc(var(--base-margin-y) * 4);
      flex-direction: column;
      margin-bottom: calc(var(--base-margin-y) * 2 + 0.2rem);
    }
  }

  &__title {
    font-weight: 500;
    font-size: 3.2rem;
    line-height: 4.2rem;

    @include md-d {
      font-size: 2.8rem;
    }

    @include sm-d {
      margin-bottom: calc(var(--base-margin-y) * 2.5);
    }
  }

  &__show-button {
    width: 25.6rem;
    height: 4rem;
    padding: 0 calc(var(--base-padding-x) * 1.5);
    @include flex-row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--base-color-white);
    color: var(--color-primary);
    font-weight: 500;
    position: relative;
    border-radius: calc(var(--base-border-radius) / 4);
    transition: background-color var(--base-anim-fn) var(--base-anim-time);

    &:hover {
      background-color: var(--base-color-gray-7);
    }

    &:active {
      background-color: var(--base-color-gray-8);
    }

    @include sm-d {
      width: 100%;
      justify-content: center;
    }
  }

  &__show-button--collapsed &__show-button-icon {
    transform: rotate(-180deg);
  }

  &__show-button-icon {
    pointer-events: none;
    width: 2.4rem;
    height: 2.4rem;
    transition: transform var(--base-anim-fn) var(--base-anim-time);

    @include sm-d {
      margin-left: calc(var(--base-margin-x) + 0.2rem);
    }
  }

  &__collapse {
    overflow: hidden;
    display: grid;
    grid-template-rows: 0fr;
    opacity: 0;
    transition: grid-template-rows var(--base-anim-fn) var(--base-anim-time),
      opacity var(--base-anim-fn) var(--base-anim-time);

    &--show {
      grid-template-rows: 1fr;
      opacity: 1;
    }
  }

  &__body {
    overflow: hidden;
  }

  &__button-more {
    background-color: var(--base-color-white);
    border-radius: calc(var(--base-border-radius) / 4);
    width: 100%;
    padding: calc(var(--base-padding-y) - 1px) 0;
    text-align: center;
    font-weight: 500;
    transition: background-color var(--base-anim-fn) var(--base-anim-time);
    display: none;

    &:hover {
      background-color: var(--base-color-gray-7);
    }

    &:active {
      background-color: var(--base-color-gray-8);
    }

    @include lg-d {
      display: block;
    }
  }

  &__offers {
    margin-top: calc(var(--base-margin-y) * 3);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--base-gap);

    @include lg-d {
      margin-top: calc(var(--base-margin-y) * 5);
      gap: calc(var(--base-gap) * 1.5);
    }

    @include sm-d {
      margin-top: calc(var(--base-margin-y) * 4);
    }
  }

  &__car-article {
    @include lg-d {
      margin-bottom: calc(var(--base-margin-y) * 2);
    }
  }

  &__offers-car-article-best {
    grid-column: 1 / -1;
  }

  &__offers-car-articles {
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: repeat(3, 1fr);
    row-gap: calc(var(--base-gap) - 0.2rem);
    column-gap: var(--base-gap);
    overflow: hidden;

    @include lg-d {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
      grid-auto-rows: 0px;
      row-gap: 0;
    }

    @include sm-d {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
