.credit {
  margin-top: calc(var(--base-margin-y) * 3);

  &__container {
    margin: 0 auto;
  }

  &__banner {
    background-color: var(--base-color-white);
    border-radius: var(--base-border-radius);
    @include flex-center;
    height: 100px;
  }

  &__banner-link {
    font-weight: 500;
    color: var(--color-primary);

    &:hover {
      text-decoration: underline;
    }
  }

  &__conditions {
    margin-top: calc(var(--base-margin-y) * 7.5);
    padding: calc(var(--base-padding-y) * 2.5) calc(var(--base-padding-x) * 2.5);
    background-color: var(--base-color-white);
    border-radius: var(--base-border-radius);

    @include xl-d {
      margin-top: calc(var(--base-margin-y) * 4.9);
    }
  }

  &__table {
    border-collapse: collapse;
    width: 100%;
  }

  &__table-title {
    text-align: left;
    color: var(--color-primary);
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 2.9rem;
    margin-bottom: calc(var(--base-margin-y) / 2);
    letter-spacing: 0.08rem;
  }

  &__table-row {
    border-bottom: 1px solid var(--base-color-gray-7);
  }

  &__table-cell {
    padding: calc(var(--base-padding-y) * 1.25) 0;

    &:first-child {
      width: 36.5rem;

      @include xl-d {
        width: 40.6rem;
      }
    }

    &--title {
      font-weight: 500;
    }
  }

  &__more-link {
    color: var(--color-primary);
    font-weight: 500;
    width: fit-content;
    display: block;
    position: relative;
    padding-right: calc(var(--base-padding-x) * 2.5);
    line-height: 2rem;
    margin-top: calc(var(--base-margin-y) * 3 + 0.2rem);
    margin-left: auto;

    &::after {
      content: url("../img/chevron.svg");
      position: absolute;
      width: 2.4rem;
      height: 2.4rem;
      right: 0;
      top: -0.3rem;
      transform: rotate(90deg);
    }

    &:hover {
      text-decoration: underline;
    }
  }

  &__faq {
    margin-top: calc(var(--base-margin-y) * 13.5 + 1px);
    margin-bottom: calc(var(--base-margin-y) * 12.5);
    @include flex-row;
    justify-content: space-between;

    @include xl-d {
      margin-top: calc(var(--base-margin-y) * 9.2);
      flex-direction: column;
    }
  }

  &__faq-title {
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 3.12rem;
    padding-left: calc(var(--base-padding-x) * 3.2 + 1px);
    position: relative;

    @include xl-d {
      padding-left: calc(var(--base-padding-x) * 3.7 + 1px);
    }

    &::before {
      content: url("../img/Question.svg");
      position: absolute;
      width: 4.5rem;
      height: 4.5rem;
      left: -0.7rem;
      top: 0;
    }
  }

  &__faq-accordion {
    max-width: 76.3rem;
    margin-top: calc(var(--base-margin-y) + 0.338rem);

    @include xl-d {
      max-width: 100%;
      margin-top: calc(var(--base-margin-y) + 1.6rem);
    }
  }
}
