.header-bottom {
  padding: calc(var(--base-padding-y) + 0.3rem) var(--padding-side);
  @include flex-row;
  align-items: center;
  position: relative;

  @include xl-d {
    padding: calc(var(--base-padding-y) + 0.3rem) var(--base-padding-x);
  }

  @include lg-d {
    padding: var(--base-padding-y) var(--base-padding-x);
  }

  &__nav {
    @include xl-d {
      position: absolute;
      bottom: -5.3rem;
      left: 0;
      right: 0;
      z-index: 66;
      padding: 0;
      background-color: var(--base-color-white);
      padding: 0 var(--base-padding-x) !important;
      border-top: 1px solid var(--base-color-gray-7);
    }
  }

  &__nav-more {
    display: none !important;

    @include xxl-d {
      display: block !important;
    }
  }

  &__mobile-menu-icon {
    display: none !important;

    @include lg-d {
      display: flex !important;
      margin-left: calc(var(--base-margin-x) * 2);
    }

    @include sm-d {
      margin-left: auto;
    }
  }

  &__swiper {
    width: 100% !important;
    margin-left: calc(var(--base-margin-x) * 3) !important;
    overflow: visible !important;

    @include xl-d {
      margin-left: 0 !important;
      padding: var(--base-padding-y) 0 !important;
    }
  }

  &__nav-list {
    @include flex-row;
    letter-spacing: 0.06px;
  }

  &__nav-item {
    width: fit-content !important;

    &:nth-child(6) ~ * {
      @include xxl-d {
        display: none;
      }
    }
  }

  &__nav-link {
    color: var(--base-color-black-1);
    line-height: 2rem;
    transition: color var(--base-anim-fn) var(--base-anim-time);

    &:hover {
      color: var(--color-primary);
    }
  }

  &__info {
    @include flex-row;
    margin-left: auto;
    align-items: center;
    gap: var(--base-gap);
    font-weight: 500;

    @include sm-d {
      position: absolute;
      border-top: 1px solid var(--base-color-gray-7);
      left: 0;
      top: 11.5rem;
      right: 0;
      padding: var(--base-padding-y) var(--base-padding-x);
      background-color: var(--base-color-white);
      z-index: 40;
      justify-content: space-evenly;
    }
  }

  &__call,
  &__bank {
    position: relative;
    padding-left: calc(var(--base-padding-x) * 2);
    line-height: 2.4rem;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }

    &::before {
      content: "";
      position: absolute;
      width: 2.4rem;
      height: 2.4rem;
      left: 0;
      pointer-events: none;
    }
  }

  &__call {
    color: var(--base-color-green);

    &::before {
      background-image: url(../img/Phone.svg);
    }
  }

  &__bank {
    color: var(--color-primary);

    &::before {
      background-image: url(../img/login.svg);
    }
  }
}
