.mobile-menu {
  background-color: var(--base-color-white);
  padding-bottom: var(--base-padding-y);
  position: fixed;
  border-radius: 0 0 var(--base-border-radius) var(--base-border-radius);
  box-shadow: 0 1rem 2.5rem rgba(black, 0.05);
  visibility: hidden;
  opacity: 0;
  z-index: 88;
  transform: translateY(-2rem);
  transition: opacity var(--base-anim-fn) var(--base-anim-time), transform var(--base-anim-fn) var(--base-anim-time),
    visibility var(--base-anim-fn) var(--base-anim-time);

  &--show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  &__header-top {
    padding-left: 0;
    padding-right: 0;
    flex-direction: column;
  }

  &__header-top-info {
    width: 100%;
    padding: var(--base-padding-y) var(--base-padding-x);
    display: flex;
    justify-content: center;
    border-top: 1px solid var(--base-color-gray-7);
  }

  &__contacts {
    width: fit-content;
    flex-direction: column;
    width: 100%;
    text-align: center;
    align-items: center;
    margin-top: calc(var(--base-margin-y) * 6.6);
    padding-top: var(--base-padding-y);
    border-top: 1px solid var(--base-color-gray-7);

    @include sm-d {
      margin-top: calc(var(--base-margin-y) * 13.7);
    }
  }

  &__contacts-list {
    flex-direction: column;
  }

  &__social-list {
    margin-left: 0;
  }

  &__block-wrapper {
    margin-left: 0 !important;

    &:nth-child(2) {
      margin-top: calc(var(--base-margin-y) * 2);
    }
  }

  &__top-item {
    display: block !important;
    width: 50%;
  }

  &__top-item:nth-child(odd) {
    border-right: 1px solid var(--base-color-gray-7);
  }

  &__top-item:nth-child(2) ~ * {
    border-top: 1px solid var(--base-color-gray-7);
  }

  &__nav-list {
    flex-wrap: wrap;
  }
}
