.form-car-filter__separator {
  width: 1.8rem !important;
  height: 0.2rem !important;
  margin: var(--base-margin-y) calc(var(--base-margin-x) * 2 + 0.2rem) 0 calc(var(--base-margin-x) * 2 + 0.2rem) !important;
}
