.more__link {
  color: var(--base-color-black-1);
  line-height: 2rem;
  transition: color var(--base-anim-fn) var(--base-anim-time);

  @include hover-fix {
    &:hover {
      color: var(--color-primary);
    }
  }
}
