.car-article {
  display: block;
  background-color: var(--base-color-white);
  padding: var(--base-padding-y) var(--base-padding-x);
  border-radius: var(--base-border-radius);
  height: 33.6rem;
  overflow: hidden;
}
