.car-article {
  &__more-btn {
    color: var(--color-text-second);
    font-size: 1.3rem;
    line-height: 1.7rem;
    letter-spacing: 0.02px;
    position: relative;
    overflow: hidden;
    transition: padding ease 0.3s, color var(--base-anim-fn) var(--base-anim-time);

    &::after {
      content: url("../img/arrow-more.svg");
      position: absolute;
      top: 0;
      width: 1.8rem;
      bottom: 0;
      right: -3.4rem;
      transition: right var(--base-anim-fn) var(--base-anim-time);
    }
  }

  &:hover &__more-btn {
    padding-right: calc(var(--base-padding-x) * 2 + 2px);
    color: var(--color-primary);
  }

  &:hover &__more-btn::after {
    right: 0;
  }
}
