.button {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2rem;
  @include flex-center;
  display: block;
  color: var(--base-color-white);
  background-color: var(--color-primary);
  border-radius: calc(var(--base-border-radius) / 2);

  @include hover-fix {
    &:hover {
      background-color: var(--base-color-red-1);
    }
  }

  &:active {
    opacity: 0.9;
  }
}
