.credit__conditions {
  margin-top: calc(var(--base-margin-y) * 7.5);
  padding: calc(var(--base-padding-y) * 2.5) calc(var(--base-padding-x) * 2.5);
  background-color: var(--base-color-white);
  border-radius: var(--base-border-radius);
}
