.hero {
  background-image: var(--hero-gradient);
  overflow: hidden;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 7.2rem;
    left: 40%;
    width: 11.3rem;
    height: 14.3rem;
    background-color: var(--base-color-blue-2);
    filter: blur(75px);
    border-radius: 50%;
  }
}
