.catalog__button-more {
  background-color: var(--base-color-white);
  border-radius: calc(var(--base-border-radius) / 4);
  width: 100%;
  padding: calc(var(--base-padding-y) - 1px) 0;
  transition: background-color var(--base-anim-fn) var(--base-anim-time);
  display: none !important;
  color: var(--base-color-black);

  @include hover-fix {
    &:hover {
      background-color: var(--base-color-gray-7);
    }
  }

  &:active {
    background-color: var(--base-color-gray-8);
  }
}
