.credit__table-title {
  text-align: left;
  color: var(--color-primary);
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 2.9rem;
  margin-bottom: calc(var(--base-margin-y) / 2);
  letter-spacing: 0.08rem;
}
